@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}

.text{
    color:hsl(208, 11%, 55%);

}

img{
    max-width: 100%;
}

.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

.center{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
}

.flex > div,
.flex > ul{
    flex: 1;
}

.align-start{
    align-items: flex-start;
}


header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-color:  hsl(193, 100%, 96%);
    padding: 40px 0;
}

nav{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.btn{
    padding: 15px 68px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(0,0,0, 0.15);
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background-color: hsl(322, 100%, 66%);
    margin-top: 20px;
    color: #fff ;
}

.box{
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0, 0.15);
    border-radius: 8px;
    margin: 40px 0;
    padding: 60px;
}

.box img{
    width: 80%;
}

.small-box{
    display: inline-block;
    position: relative;
    margin-bottom: -50%;
    z-index: 1;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 180px 0 5px;
}

footer ul{
    padding: 0;
    list-style: none;
    margin: 30px;
}

footer ul li{
    margin-bottom: 20px;
}

.fas{
    margin: 5px;
}

footer .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .circle{
    border:  1px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

footer .attribution{
    text-align: right;
    font-size: small;
}

@media screen and (max-width: 768px){

    h1,h2,p{
        text-align: center;
    }
    .logo{
        width: 155px;
        height: 30px;

    }

    .btn{
        padding: 10px 30px;
    }

    .btn-primary{
        padding: 15px 68px;
        margin-bottom: 50px;
    }

    nav.flex{
        flex-direction: row;
    }

    .flex{
        flex-direction: column;
        text-align: center;
    }

    .box-reverse-mobile{
        flex-direction: column-reverse;
    }
    
    footer{
        padding-bottom: 0
    }

   footer ul{
       margin: 0;
   }
   
   .list-mobile{
       text-align: left;
   }
   
   .fas{
       margin: 15px;
   }

   .social-media{
    margin: 0 auto;
   }

   .attribution{
       margin-bottom: 0;
       right: 0;
       text-align: right;
   }

   .small-box{
       padding-top: 20px;
       padding-bottom: 20px;
   }
}
